{% extends "website/index.html" %}

{% block popup %}
{% load static %}

<link href="{% static 'css/index.css' %}" rel="stylesheet">
<link href="{% static 'css/heels.css' %}" rel="stylesheet">

{% endblock popup %}

{% block content %}

<div class="main mx-auto" style="margin-top: 5em;">
  <div class="container mt-5">
    <div class="header__center" style="margin-top: 3.5em;">
      <h1 style="color: black; text-align: center;">HOUSE OF RUHII</h1>
    </div>
  </div>
  <div class="container-fluid text-center">
    <h1 style="color: palevioletred" class="mt-5">Collection Of Mules</h1>
  </div>
  <div class="container text-center mx-auto mt-3">
    <p style="text-align: center; font-size: 1.2em; color: rgb(99, 31, 42);" class="text-center">
      Slip into effortless style with our collection of women's mules. From classic leather to chic embellished designs,
      our selection of mules offers the perfect mix of comfort and fashion. Whether you're looking for a casual or
      dressy option, find your new favorite pair of mules today
    </p>
    <hr style="border: 1 px solid palevioletred; margin-top: 1.5em;">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-10"></div>
      <div class="col-sm-2">
        <div class="nav-item dropdown text-center">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
            style="font-size: 1.2em;">
            SORT BY
          </a>
          <ul class="dropdown-menu mx-5">
            <li><a class="dropdown-item" href="#">Price, low to high</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Price, high to low</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Best Selling</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Featured</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>



  <div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for i in data %}
      <div class="col">
        <div class="card" style="border: none">
          <img src="{% static 'images/img1.jpg' %}" class="card-img-top"
            onmouseover="this.src='../../../static/images/img2.jpg'"
            onmouseout="this.src='../../../static/images/img1.jpg'" />
          <div class="card-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-10">
                  <h5 class="card-title">{{i.name}}</h5>
                  <p class="card-text">&#8377 {{i.price}}</p>
                </div>
                {% if request.user.username == "" %}
                <div class="col-sm-2">
                  <a href="{% url 'signin' %}">
                    <i class="fa-solid fa-cart-shopping mt-2" title="add to cart" data-link-id="{{i.id}}"
                      data-name="{{i.name}}" data-value="{{i.price}}" data-quantity="{{i.quantity}}"
                      style="color: palevioletred; font-size: 1.4em"></i></a>
                </div>
              </div>
              {% else %}
              <div class="col-sm-2">
                <a href="{% url 'signin' %}">
                  <i class="fa-solid fa-cart-shopping mt-2 add-item-btn" title="add to cart" data-link-id="{{i.id}}"
                    data-name="{{i.name}}" data-value="{{i.price}}" data-quantity="{{i.quantity}}"
                    style="color: palevioletred; font-size: 1.4em"></i></a>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor%}
  </div>
</div>
<div class="flex-wrapper bg-black mx-auto mt-5">
  <div class="container-fluid" style="padding-top: 1em">
    <div class="row g-3">
      <div class="col-sm-4 mb-2 text-center">
        <h3 style="color: palevioletred">USEFUL LINKS</h3>
        <ul style="list-style: none; color: white; font-size: 1.5em;">
          <a href="#" style="text-decoration: none">
            <li style="list-style: none; color: white; margin-left: -25px" class="list mb-2">
              HOME
            </li>
          </a>

          <a href="#" style="text-decoration: none">
            <li style="list-style: none; color: white; margin-left: -25px; " class="mb-2">
              SHOP
            </li>
          </a>
          <a href="#" style="text-decoration: none">
            <li style="list-style: none; color: white; margin-left: -25px; " class="mb-2">
              MY ACCOUNT
            </li>
          </a>
          <a href="#" style="text-decoration: none">
            <li style="list-style: none; color: white; margin-left: -25px;" class="mb-2">
              VIEW CART
            </li>
          </a>
          <a href="#" style="text-decoration: none">
            <li style="list-style: none; color: white; margin-left: -25px; " class="mb-2">
              CONTACT US
            </li>
          </a>
        </ul>
      </div>
      <div class="col-sm-4 mb-4 text-center">
        <h3 style="color: palevioletred">GET CONNECTED </h3>
        <a href="#"><i class="fa-brands fa-facebook mx-2"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </div>
      <div class="col-sm-4 mb-2 text-center">
        <h3 style="color: palevioletred">SHOP ADDRESS</h3>
        <p style="color: whitesmoke; font-size: 1.5em">NAME OF SHOP</p>
        <p style="color: whitesmoke; font-size: 1.5em">STREET NAME</p>
        <p style="color: whitesmoke; font-size: 1.5em">LOCATION</p>
        <p style="color: whitesmoke; font-size: 1.5em">CITY</p>
        <i class="fa-solid fa-phone mx-2" style="color: palevioletred"></i>
        <span style="color: whitesmoke; font-size: 1.3em">0123456789</span><br>
        <i class="fa-solid fa-envelope mx-2 mt-2" style="color: palevioletred"></i>
        <span style="color: whitesmoke; font-size: 1.3em">@gmail.com</span>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-6">
        <p style="
                  font-size: 1.5em;
                  font-weight: 600;
                  color: whitesmoke;
                  text-align: center;
                ">
          Visit Us Here!
        </p>
        <div class="map-responsive">
          <h1>YOUR LOCATION ON MAP WILL BE SHOWN HERE</h1>
        </div>
      </div>
      <div class="col-sm-6">
        <h3 style="text-align: center; color: whitesmoke">Our Facebook</h3>
        <div class="container mx-auto text-center">
          <h1>YOUR FACEBOOK PAGE WILL BE SHOWN HERE</h1>
        </div>
      </div>
    </div>
  </div>

  <hr style="border: 1px solid white" />

  <div class="footer">
    <div class="container-fluid">
      <p>Narula</p>
    </div>
  </div>
</div>
<!--script-->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<script>
  $(document).ready(function () {
    $('.add-item-btn').on('click', function (event) {
      event.preventDefault();
      var name = $(this).data('name');
      var value = $(this).data('value')
      var quantity = 1;

      var users = $(this).data('user');
      var catid = $(this).data('link-id');

      var pageurl = "{% url 'AddToCart' %}";
      var data = { 'name': name, 'price': value, 'foruser': users, 'quantity': quantity, 'foruser': "{{request.user.id}}" };
      $.ajax({
        url: pageurl,
        method: 'POST',
        data: data,
        success: function (response) {
          // $(this).css('color', 'red');
          alert('Item Added in Cart: ' + name);
        },
        error: function (xhr, status, error) {
          alert('Error saving form: ' + error);
        }
      });
    });
  })
</script>
<script src="/js/index.js"></script>
</body>
{% endblock %}



<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Account</title>
  <link href="/css/index.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/8feaa5fbd6.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg bg-body-black mx-auto">
    <div class="container-fluid">
      <a class="navbar-brand" href="../index.html">
        <img src="/images/WhatsApp_Image_2023-02-18_at_14.35.22-removebg-preview.png" class="img-fluid"
          style="height: 2em; width: auto" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link mx-2" aria-current="page" href="#"
              style="font-size: 1.5em; font-weight: 400; color: palevioletred">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mx-2" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" style="font-size: 1.5em; font-weight: 400; color: palevioletred" ;>
              Shop
            </a>
            <ul class="dropdown-menu" style="letter-spacing: 2px">
              <div class="ScrollStyle" style="max-height: 300px; overflow-y: scroll">
                <div class="container text-center" style="width: 280px">
                  <li style="display: flex; flex-direction: row">
                    <a class="dropdown-item mt-2" href="/html/heels.html" style="text-align: left">Heels</a>
                    <img src="/images/img1.jpg" class="img-fluid" alt="heels" style="width: auto; height: 3em" />
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li style="display: flex; flex-direction: row">
                    <a class="dropdown-item mt-2" href="/html/Boots.html" style="text-align: left">Boots</a>
                    <img src="/images/img1.jpg" class="img-fluid" alt="heels" style="width: auto; height: 3em" />
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li style="display: flex; flex-direction: row">
                    <a class="dropdown-item mt-2" href="/html/flats.html" style="text-align: left">Flats</a>
                    <img src="/images/img1.jpg" class="img-fluid" alt="heels" style="width: auto; height: 3em" />
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li style="display: flex; flex-direction: row">
                    <a class="dropdown-item mt-2" href="/html/Sneaker.html" style="text-align: left">Sneakers</a>
                    <img src="/images/img1.jpg" class="img-fluid" alt="heels" style="width: auto; height: 3em" />
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li style="display: flex; flex-direction: row">
                    <a class="dropdown-item mt-2" href="/html/Sandal.html" style="text-align: left">Sandals</a>
                    <img src="/images/img1.jpg" class="img-fluid" alt="heels" style="width: auto; height: 3em" />
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li style="display: flex; flex-direction: row">
                    <a class="dropdown-item mt-2" href="/html/wedges.html" style="text-align: left">Wedges</a>
                    <img src="/images/img1.jpg" class="img-fluid" alt="heels" style="width: auto; height: 3em" />
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li style="display: flex; flex-direction: row">
                    <a class="dropdown-item mt-2" href="/html/Mules.html" style="text-align: left">Mules</a>
                    <img src="/images/img1.jpg" class="img-fluid" alt="heels" style="width: auto; height: 3em" />
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li style="display: flex; flex-direction: row">
                    <a class="dropdown-item mt-2" href="/html/flats.html" style="text-align: left">Loafers</a>
                    <img src="/images/img1.jpg" class="img-fluid" alt="heels" style="width: auto; height: 3em" />
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li style="display: flex; flex-direction: row">
                    <a class="dropdown-item mt-2" href="/html/Pumps.html" style="text-align: left">Pumps</a>
                    <img src="/images/img1.jpg" class="img-fluid" alt="heels" style="width: auto; height: 3em" />
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li style="display: flex; flex-direction: row">
                    <a class="dropdown-item mt-2" href="/html/espadrilles.html" style="text-align: left">Espadrilles</a>
                    <img src="/images/img1.jpg" class="img-fluid" alt="heels" style="width: auto; height: 3em" />
                  </li>
                </div>
              </div>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="#" style="font-size: 1.5em; font-weight: 400; color: palevioletred">About
              Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="/html/Contact.html"
              style="font-size: 1.5em; font-weight: 400; color: palevioletred">Contact Us</a>
          </li>
        </ul>
        <hr style="border: 1px solid; color: palevioletred" />
        <div class="icons" style="display: flex">
          <div class="search">
            <div class="icon">
              <i class="fa-solid fa-magnifying-glass" style="color: palevioletred; font-size: 1.4em" title="search">
              </i>
            </div>
            <div class="input">
              <input type="text" placeholder="Search" id="mysearch" />
              <span class="clear" onclick="document.getElementById('mysearch').value ='' ">
              </span>
            </div>
          </div>

          <a href="#">
            <i class="fa-solid fa-user mx-2 mt-2" style="color: palevioletred; font-size: 1.4em"
              title="signin/signout"></i></a>
          <a href="/html/checkoutpage.html">
            <i class="fa-solid fa-cart-shopping mx-2 mt-2" style="color: palevioletred; font-size: 1.4em" title="cart">
            </i></a>
        </div>
      </div>
    </div>
  </nav>

  <div class="container" style="margin-top: 5em">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button"
          role="tab" aria-controls="home-tab-pane" aria-selected="true">
          Orders
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button"
          role="tab" aria-controls="profile-tab-pane" aria-selected="false">
          Buy Again
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button"
          role="tab" aria-controls="contact-tab-pane" aria-selected="false">
          Cancelled Orders
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

        <div class="dropdown mt-2">
          <a class="btn btn-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Previous Orders
          </a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">1 Month</a></li>
            <li><a class="dropdown-item" href="#">6 Months</a></li>
            <li><a class="dropdown-item" href="#">1 Year</a></li>
            <li><a class="dropdown-item" href="#">2 Years</a></li>
            <li><a class="dropdown-item" href="#">3 Years</a></li>
            <li><a class="dropdown-item" href="#">4 Years</a></li>
            <li><a class="dropdown-item" href="#">5 Years</a></li>

          </ul>
        </div>

        <div class="container mt-3" style="
              border: 1px solid black;
              padding: 1em 1em 1em;
              border-radius: 16px;
            ">
          <div class="row">
            <div class="col-sm-4">
              <img src="/images/img2.jpg" class="img-fluid" />
            </div>
            <div class="col-sm-2">
              <p>Product Name</p>
              <p>Product Description</p>
            </div>
            <div class="col-sm-2">
              <p>Date Of Booking</p>
            </div>
            <div class="col-sm-2">
              <p>Date Of Delivery</p>
            </div>
            <div class="col-sm-2" style="display: flex; flex-direction: column">
              <a href="/html/invoice.html" download style="
                    display: flex;
                    flex-direction: row;
                    text-decoration: none;
                    color: black;
                  ">
                <i class="fa-solid fa-download mx-2 mt-1" title="download invoice"></i>
                <p>Download Invoice</p>
              </a>
              <a href="#">
                <button class="button-1">
                  Track
                </button>
              </a>
              <!-- Button trigger modal -->
              <button type="button" class="button-1 mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Return
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">

                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                          Checked checkbox
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                          Checked checkbox
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                          Checked checkbox
                        </label>
                      </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
              <a href="#">
                <button class="button-1 mt-2">
                  Cancel
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>


      <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">

        <div class="container mt-5">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card" style="border: none">
                <img src="../images/img1.jpg" class="card-img-top" onmouseover="this.src='../images/img2.jpg'"
                  onmouseout="this.src='../images/img1.jpg'" />
                <div class="card-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-10">
                        <h5 class="card-title">Shoes Name</h5>
                        <p class="card-text">&#8377</p>
                      </div>
                      <div class="col-sm-2">
                        <a href="#">
                          <i class="fa-solid fa-cart-shopping mt-2" title="add to cart"
                            style="color: palevioletred; font-size: 1.4em"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="border: none">
                <img src="../images/img1.jpg" class="card-img-top" onmouseover="this.src='../images/img2.jpg'"
                  onmouseout="this.src='../images/img1.jpg'" />
                <div class="card-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-10">
                        <h5 class="card-title">Shoes Name</h5>
                        <p class="card-text">&#8377</p>
                      </div>
                      <div class="col-sm-2">
                        <a href="#">
                          <i class="fa-solid fa-cart-shopping mt-2" title="add to cart"
                            style="color: palevioletred; font-size: 1.4em"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="border: none">
                <img src="../images/img1.jpg" class="card-img-top" onmouseover="this.src='../images/img2.jpg'"
                  onmouseout="this.src='../images/img1.jpg'" />
                <div class="card-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-10">
                        <h5 class="card-title">Shoes Name</h5>
                        <p class="card-text">&#8377</p>
                      </div>
                      <div class="col-sm-2">
                        <a href="#">
                          <i class="fa-solid fa-cart-shopping mt-2" title="add to cart"
                            style="color: palevioletred; font-size: 1.4em"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="border: none">
                <img src="../images/img1.jpg" class="card-img-top" onmouseover="this.src='../images/img2.jpg'"
                  onmouseout="this.src='../images/img1.jpg'" />
                <div class="card-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-10">
                        <h5 class="card-title">Shoes Name</h5>
                        <p class="card-text">&#8377</p>
                      </div>
                      <div class="col-sm-2">
                        <a href="#">
                          <i class="fa-solid fa-cart-shopping mt-2" title="add to cart"
                            style="color: palevioletred; font-size: 1.4em"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="border: none">
                <img src="../images/img1.jpg" class="card-img-top" onmouseover="this.src='../images/img2.jpg'"
                  onmouseout="this.src='../images/img1.jpg'" />
                <div class="card-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-10">
                        <h5 class="card-title">Shoes Name</h5>
                        <p class="card-text">&#8377</p>
                      </div>
                      <div class="col-sm-2">
                        <a href="#">
                          <i class="fa-solid fa-cart-shopping mt-2" title="add to cart"
                            style="color: palevioletred; font-size: 1.4em"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="border: none">
                <img src="../images/img1.jpg" class="card-img-top" onmouseover="this.src='../images/img2.jpg'"
                  onmouseout="this.src='../images/img1.jpg'" />
                <div class="card-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-10">
                        <h5 class="card-title">Shoes Name</h5>
                        <p class="card-text">&#8377</p>
                      </div>
                      <div class="col-sm-2">
                        <a href="#">
                          <i class="fa-solid fa-cart-shopping mt-2" title="add to cart"
                            style="color: palevioletred; font-size: 1.4em"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">

        <div class="container mt-5">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card" style="border: none">
                <img src="../images/img1.jpg" class="card-img-top" onmouseover="this.src='../images/img2.jpg'"
                  onmouseout="this.src='../images/img1.jpg'" />
                <div class="card-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-10">
                        <h5 class="card-title">Shoes Name</h5>
                        <p class="card-text">&#8377</p>
                      </div>
                      <div class="col-sm-2">
                        <a href="#">
                          <i class="fa-solid fa-cart-shopping mt-2" title="add to cart"
                            style="color: palevioletred; font-size: 1.4em"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="border: none">
                <img src="../images/img1.jpg" class="card-img-top" onmouseover="this.src='../images/img2.jpg'"
                  onmouseout="this.src='../images/img1.jpg'" />
                <div class="card-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-10">
                        <h5 class="card-title">Shoes Name</h5>
                        <p class="card-text">&#8377</p>
                      </div>
                      <div class="col-sm-2">
                        <a href="#">
                          <i class="fa-solid fa-cart-shopping mt-2" title="add to cart"
                            style="color: palevioletred; font-size: 1.4em"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="border: none">
                <img src="../images/img1.jpg" class="card-img-top" onmouseover="this.src='../images/img2.jpg'"
                  onmouseout="this.src='../images/img1.jpg'" />
                <div class="card-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-10">
                        <h5 class="card-title">Shoes Name</h5>
                        <p class="card-text">&#8377</p>
                      </div>
                      <div class="col-sm-2">
                        <a href="#">
                          <i class="fa-solid fa-cart-shopping mt-2" title="add to cart"
                            style="color: palevioletred; font-size: 1.4em"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="border: none">
                <img src="../images/img1.jpg" class="card-img-top" onmouseover="this.src='../images/img2.jpg'"
                  onmouseout="this.src='../images/img1.jpg'" />
                <div class="card-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-10">
                        <h5 class="card-title">Shoes Name</h5>
                        <p class="card-text">&#8377</p>
                      </div>
                      <div class="col-sm-2">
                        <a href="#">
                          <i class="fa-solid fa-cart-shopping mt-2" title="add to cart"
                            style="color: palevioletred; font-size: 1.4em"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="border: none">
                <img src="../images/img1.jpg" class="card-img-top" onmouseover="this.src='../images/img2.jpg'"
                  onmouseout="this.src='../images/img1.jpg'" />
                <div class="card-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-10">
                        <h5 class="card-title">Shoes Name</h5>
                        <p class="card-text">&#8377</p>
                      </div>
                      <div class="col-sm-2">
                        <a href="#">
                          <i class="fa-solid fa-cart-shopping mt-2" title="add to cart"
                            style="color: palevioletred; font-size: 1.4em"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="border: none">
                <img src="../images/img1.jpg" class="card-img-top" onmouseover="this.src='../images/img2.jpg'"
                  onmouseout="this.src='../images/img1.jpg'" />
                <div class="card-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-10">
                        <h5 class="card-title">Shoes Name</h5>
                        <p class="card-text">&#8377</p>
                      </div>
                      <div class="col-sm-2">
                        <a href="#">
                          <i class="fa-solid fa-cart-shopping mt-2" title="add to cart"
                            style="color: palevioletred; font-size: 1.4em"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

  <script>
    var nav = document.querySelector("nav");

    window.addEventListener("scroll", function () {
      if (window.pageYOffset > 100) {
        nav.classList.add("bg-light", "shadow");
      } else {
        nav.classList.remove("bg-light", "shadow");
      }
    });
  </script>
  <script src="/js/index.js"></script>
</body>

</html>