<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>House Of Ruhi- Verifictaion</title>
    <link href="{% static 'css/verification.css' %}" rel="stylesheet" />
    <!--cdn-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/8feaa5fbd6.js" crossorigin="anonymous"></script>
</head>

<body style="background:url(../website)">

    {% block preloader %}
    {% endblock preloader %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %} id="messs" style="display: none;">{{ message }}
            </li>
            {% endfor %}
    </ul>
    {% endif %}
    <div class="conatiner text-center mx-auto mt-3">
        <img src="{% static 'images/WhatsApp_Image_2023-02-18_at_14.35.22-removebg-preview.png' %}" class="img-fluid"
            alt="logo" style="height: 5em" />
    </div>

    <div class="container">
        <div class="row">
            <!-- <input type="text" value="{{email}}"> -->
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-center mt-4">
                <div class="card" style="width: 23em; height: 18em">
                    <div class="card-body">
                        <h5 class="card-title">TWO STEP VERIFICTAION</h5>
                        <p class="card-text">
                            For added security, please enter the One Time Password (OTP)
                            that has been sent to your registered email
                        </p>
                        <label>Enter OTP:</label>
                        <input type="text" placeholder="OTP" id="otp-input" name="otp" />
                        <button class="button mt-4" type="submit">Submit OTP</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <hr style="border: 1px solid black" class="mt-5" />
    <div class="container text-center mx-auto">
        <p>&copy HOUSE OF RUHII</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script>
        // get the input element by its ID
        const otpInput = document.getElementById('otp-input');

        // get the value entered by the user
        const otpValue = otpInput.value;

        // do something with the OTP value
        console.log(otpValue);
    </script>
    <script>
        var message = document.getElementById("messs").innerHTML
        alert(message)
    </script>

    <script>
        $(document).ready(function () {
            $('#otp-input').on('change', function (event) {
                event.preventDefault();
                const searchinp = $('#otp-input').val()
                console.log("search :", searchinp, "OTP: ", "{{otp}}")

                if (searchinp == "{{otp}}") {
                    console.log("Done")
                    // redirect the user to a new page
                    const data = {
                        'email': "{{email}}"
                    }
                    var querystring = $.param(data)
                    window.location.href = '/new-password/?' + querystring;

                }
                else {
                    alert("OTP doesn't matched")
                }
            });
        })
    </script>
</body>

</html>