{% extends 'website/index.html' %}

{% block popup %}
{% endblock popup %}
{% block preloader %}
{% endblock preloader %}
{% block content %}
{% load static %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<div class="container" style="margin-top: 5em">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button"
        role="tab" aria-controls="home-tab-pane" aria-selected="true">Orders</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button"
        role="tab" aria-controls="profile-tab-pane" aria-selected="false">Buy Again</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button"
        role="tab" aria-controls="contact-tab-pane" aria-selected="false">Cancelled Orders</button>
    </li>

  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

        <div class="dropdown mt-2">
          <a class="btn btn-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Previous Orders
          </a>

          <form method="get">
            <ul class="dropdown-menu" name="date">
              <li><a class="dropdown-item" href="#" value="{{ date_range.0 }}">1 Month</a></li>
              <li><a class="dropdown-item" href="#" value="{{ date_range.1 }}">6 Months</a></li>
              <li><a class="dropdown-item" href="#" value="{{ date_range.2 }}">1 Year</a></li>
              <li><a class="dropdown-item" href="#">2 Years</a></li>
              <li><a class="dropdown-item" href="#">3 Years</a></li>
              <li><a class="dropdown-item" href="#">4 Years</a></li>
              <li><a class="dropdown-item" href="#">5 Years</a></li>

            </ul>

            
          </form>
        </div>

        {% for i in record %}
        {% if i.order_status != "Cancelled" %}
        <div class="container mt-3" style="border: 1px solid black;
              padding: 1em 1em 1em;
              border-radius: 16px;">
          <div class="row">
            <div class="col-sm-4">
              <img src="{% static 'images/img2.jpg' %}" class="img-fluid" />
            </div>
            <div class="col-sm-2">
              <p style="font-weight: bold;">Product Name</p>
              {% for k in i.services %}
              {{k}}<br>
              {% endfor %}

              <!-- <p></p> -->
              <p class="mt-5" style="font-weight: bold;">Product Description</p>
              <p>{{i.description}}</p>

            </div>
            <div class="col-sm-2">
              <p class="" style="font-weight: bold;">Quantity</p>
              {% for k in i.quantity %}

              {{k}}<br>
              {% endfor %}
              <p class="mt-5" style="font-weight: bold;">Date Of Booking</p>
              <p>{{i.BookingTime}}</p>
            </div>
            <div class="col-sm-2">
              <p style="font-weight: bold;">Date of Delivery</p>
              <p>{{i.dateofdelivery}}</p>
            </div>
            <div class="col-sm-2" style="display: flex; flex-direction: column">
              <p style="font-weight: bold;">Order ID:</p>
              <p>{{i.id}}</p>
              <a href="{% url 'Invoice' i.id %}"
                style=" display: flex; flex-direction: row; text-decoration: none; color: black">
                <i class="fa-solid fa-download mx-2 mt-4" title="download invoice"></i>
                <p style="font-weight: bold;" class="mt-4">Download Invoice</p>
              </a>
              {% if i.order_status != "Cancelled" %}
              <a href="#">
                <button class="button-1 mt-2">
                  Track Order
                </button>
              </a>
              {% endif %}
              <!-- {{i.order_status}} -->
              {% if i.order_status != "Cancelled" %}
              <a href="{% url 'CancelBooking' i.id %}">
                <button class="button-1 mt-2">
                  Cancel
                </button>
              </a>
              {% else %}
              <span class="mt-2" style="color: red;">
                Cancelled
              </span>
              {% endif %}
            </div>
          </div>
        </div>
        {% else %}
        {% endif %}
        {% endfor %}

      </div>
    </div>

    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">

      {% for i in record %}
      <div class="container mt-3" style="border: 1px solid black;
              padding: 1em 1em 1em;
              border-radius: 16px;">
        <div class="row">
          <div class="col-sm-4">
            <img src="{% static 'images/img2.jpg' %}" class="img-fluid" />
          </div>
          <div class="col-sm-2">
            <p style="font-weight: bold;">Product Name</p>
            {% for k in i.services %}
            {{k}}<br>
            {% endfor %}

            <!-- <p></p> -->
            <p class="mt-5" style="font-weight: bold;">Product Description</p>
            <p>{{i.description}}</p>

          </div>
          <div class="col-sm-2">
            <p class="" style="font-weight: bold;">Quantity</p>
            {% for k in i.quantity %}

            {{k}}<br>
            {% endfor %}
            <p class="mt-5" style="font-weight: bold;">Date Of Booking</p>
            <p>{{i.BookingTime}}</p>
          </div>
          <div class="col-sm-2">
            <p style="font-weight: bold;">Date of Delivery</p>
            <p>{{i.dateofdelivery}}</p>
          </div>
          <div class="col-sm-2" style="display: flex; flex-direction: column">
            <p style="font-weight: bold;">Order ID:</p>
            <p>{{i.id}}</p>
            <a href="{% url 'Invoice' i.id %}"
              style=" display: flex; flex-direction: row; text-decoration: none; color: black">
              <i class="fa-solid fa-download mx-2 mt-4" title="download invoice"></i>
              <p style="font-weight: bold;" class="mt-4">Download Invoice</p>
            </a>

            <a href="{% url 'buyagain' i.id %}">
              <button class="button-1 mt-2 add-item-btn" data-link-id="{{ i.id }}">
                Buy Again
              </button>
            </a>


          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">

      {% for i in record %}
      {% if i.order_status == "Cancelled" %}
      <div class="container mt-3" style="border: 1px solid black;
              padding: 1em 1em 1em;
              border-radius: 16px;">
        <div class="row">
          <div class="col-sm-4">
            <img src="{% static 'images/img2.jpg' %}" class="img-fluid" />
          </div>
          <div class="col-sm-2">
            <p style="font-weight: bold;">Product Name</p>
            {% for k in i.services %}
            {{k}}<br>
            {% endfor %}

            <!-- <p></p> -->
            <p class="mt-5" style="font-weight: bold;">Product Description</p>
            <p>{{i.description}}</p>

          </div>
          <div class="col-sm-2">
            <p class="" style="font-weight: bold;">Quantity</p>
            {% for k in i.quantity %}

            {{k}}<br>
            {% endfor %}
            <p class="mt-5" style="font-weight: bold;">Date Of Booking</p>
            <p>{{i.BookingTime}}</p>
          </div>
          <div class="col-sm-2">
            <p style="font-weight: bold;">Date of Delivery</p>
            <p>{{i.dateofdelivery}}</p>
          </div>
          <div class="col-sm-2" style="display: flex; flex-direction: column">
            <p style="font-weight: bold;">Order ID:</p>
            <p>{{i.id}}</p>
            <a href="{% url 'Invoice' i.id %}"
              style=" display: flex; flex-direction: row; text-decoration: none; color: black">
              <i class="fa-solid fa-download mx-2 mt-4" title="download invoice"></i>
              <p style="font-weight: bold;" class="mt-4">Download Invoice</p>
            </a>
            {% if i.order_status != "Cancelled" %}
            <a href="#">
              <button class="button-1 mt-2">
                Track Order
              </button>
            </a>
            {% endif %}
            <!-- {{i.order_status}} -->
            {% if i.order_status != "Cancelled" %}
            <a href="{% url 'CancelBooking' i.id %}">
              <button class="button-1 mt-2">
                Cancel
              </button>
            </a>
            {% else %}
            <span class="mt-2" style="color: red;">
              Cancelled
            </span>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>



  <script>
    var nav = document.querySelector("nav");

    window.addEventListener("scroll", function () {
      if (window.pageYOffset > 100) {
        nav.classList.add("bg-light", "shadow");
      } else {
        nav.classList.remove("bg-light", "shadow");
      }
    });
  </script>

<script>

</script>
  </body>
  {% endblock content %}