{% extends 'AdminPanel/editpage.html' %}


{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/showprojects.css' %}">

</head>

<body> 
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} p-2  mb-2 bg-success"
        style="text-align:center; width :95%; margin: auto auto; list-style:none;" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<section class="home-section bg-light" style="padding-left: 5%">
    <div class="home-content">
        <i class="bx bx-menu" style="color: rgb(0, 0, 0)"></i>
    </div>
    <div class="main-content" style="margin-top: 35px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h2 style="text-align: center;"><b>Feedback</b></h2>
                </div>
                <hr>
            </div>
        </div>
        <br>
        <!--table-->
        <div class="container-fluid mt-3">
            <table id="example" class="table table-bordered border-dark" style="width:100%">
                <thead>
                    <tr class="table-dark">
                        <th class="table-dark">S.No</th>
                        <th class="table-dark">Name</th>
                        <th class="table-dark">Email</th>
                        <th class="table-dark">Messages</th>
                        <th class="table-dark">View</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td style="color: #000;">{{forloop.counter}}</td>
                        <td style="color: #000;">{{i.fname}}</td>
                        <td style="color: #000;">{{i.email}}</td>
                        <td style="color: #000;">{{i.message|slice:"0:30"}}</td>
                        <td><a href="{% url 'update' i.id %}" style="color: #000;"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                    <path
                                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                </svg>up</a>
                                
                                <a href="{% url 'delete' i.id %}" class="delete" title="delete" onclick="return confirm('Are you sure you want to delete this?')" style="margin-left: 15px"><i class='bx bxs-trash-alt'></i>del</del></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="container-fluid mx-auto">
                <a href="#"><i class='bx bxs-chevron-up'></i></a>
            </div>
        </div>

    </div>

    <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e) => {
                let arrowParent = e.target.parentElement.parentElement; //selecting main parent of arrow
                arrowParent.classList.toggle("showMenu");
            });
        }

        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });
    </script>
    {% endblock content %}