{% extends 'AdminPanel/editpage.html' %}


{% block content %}
{% load static %}

<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--datesrc-->


<link rel="stylesheet" href="{% static 'css/addstaff.css' %}">


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} p-2 mb-2 bg-success text-white" style="list-style: none; border-radius: 10px; width: 95%; margin: auto auto; margin-top: 75px; z-index: 1;" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<section class="home-section bg-light" style="padding-left: 5%">
    <div class="home-content">
        <i class="bx bx-menu" style="color: rgb(0, 0, 0)"></i>
    </div>
<div class="main-content" style="padding-left: 70px; margin-top: 75px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2><b><i class="fa-solid fa-clipboard-user mx-2"></i>Add Product Name</b></h2>
            </div>
            <div class="col-sm-4">
                <!-- <a href=""><button class="btn-1"><i class='bx bxs-file-plus'></i>Add Product Category</button></a> -->
            </div>
        </div>
    </div>
</div>
{% load widget_tweaks %}


<div class="container" style="padding-left: 20px;">
    <form class="row g-3 mt-3" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="col-md-3">
            <label for="text" class="form-label">Name</label>
            <input type="text" class="form-control" id="text" name="name" value="{{data.name}}">
        </div>
        <div class="col-md-3">
            <label for="text" class="form-label">Price</label>
            {% render_field form.price|add_class:"form-control" %}
        </div>
        <div class="col-md-3">
            <label for="text" class="form-label">Product Category</label>
            {% render_field form.cat|add_class:"form-control" %}
        </div>
                
        <div class="col-md-3">
            <!-- <label for="text" class="form-label">Name</label> -->
            <!-- <input type="text" class="form-control" id="text" name="name" value="{{data.name}}"> -->
        </div>
        <div class="col-md-3">
            <label for="text" class="form-label">Image 1</label>
            <img src="{{data.img.url}}" alt="" style="width:300px;height: 180px;">
            <!-- <img src="" name="img" alt=""> -->
            {% render_field form.img|add_class:"form-control" %}
        </div>
        <div class="col-md-3">
            <label for="text" class="form-label">Image 2</label>
            <img src="{{data.img2.url}}" alt="" style="width:300px;height: 180px;">
            <!-- <img src="" name="img2" alt=""> -->
            {% render_field form.img2|add_class:"form-control" %}
        </div>
        <div class="col-md-3">
            <label for="text" class="form-label">Image 3</label>
            <img src="{{data.img3.url}}" alt="" style="width:300px;height: 180px;">
            <!-- <img src="" name="img3" alt=""> -->
            {% render_field form.img3|add_class:"form-control" %}

        </div>
        <div class="col-md-3">
            <label for="text" class="form-label">Image 4</label>
            <img src="{{data.img4.url}}" alt="" style="width:300px;height: 180px;">
            <!-- <img src="" name="img4" alt="" style="width:300px;height: 50px;"> -->
            {% render_field form.img4|add_class:"form-control" %}

        </div>
        <div class="col-md-3">
            <label for="text" class="form-label">Image 5</label>
            <img src="{{data.img5.url}}" name="img5" alt="" style="width:300px;height: 180px;">
            {% render_field form.img5|add_class:"form-control" %}

        </div>
        <div class="col-md-3">
            <label for="text" class="form-label">Image 6</label>
            <img src="{{data.img6.url}}" name="img6" alt="" style="width:300px;height: 180px;">
            {% render_field form.img6|add_class:"form-control" %}

        </div>
        <div class="col-md-3">
            <label for="text" class="form-label">Description</label>
            {% render_field form.desc|add_class:"form-control" style="width: 100%" %}
        </div>
        
        
        <div class="col-md-12">
                <button type="submit" class="btn-2" style="background-color: ff5f1f; padding: 10px 35px;">Submit</button>
        </div>
        <div class="col-md-3">

        </div>
    </form>
</div>

<script>
    $(function () {
        $('#datepicker').datepicker();
    });
</script>

<script>
    let arrow = document.querySelectorAll(".arrow");
    for (var i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e) => {
            let arrowParent = e.target.parentElement.parentElement; //selecting main parent of arrow
            arrowParent.classList.toggle("showMenu");
        });
    }

    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".bx-menu");
    console.log(sidebarBtn);
    sidebarBtn.addEventListener("click", () => {
        sidebar.classList.toggle("close");
    });
</script>

{% endblock content %}