@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', cursive;
    scroll-behavior: smooth;
}
body{
  
   overflow-x: hidden;
}
p{
    font-family: 'Tilt Neon', cursive;
}